{% extends 'base.html' %}
{% block content %}
  <div class="main">
    <h2>새로운 게시글 작성하기</h2>
    <form method="post">
      {% csrf_token %}
      <table class="table write">
        <colgroup>
          <col style="width: 120px">
          <col>
        </colgroup>
        <tbody>
          <tr>
            <th><label for="{{ form.category.id_for_label }}">카테고리</label></th>
            <td>{{ form.category }}</td>
          </tr>
          <tr>
            <th><label for="{{ form.title.id_for_label }}">제목</label></th>
            <td>{{ form.title }}</td>
          </tr>
          <tr>
            <th><label for="{{ form.content.id_for_label }}">내용</label></th>
            <td>{{ form.content }}</td>
          </tr>
          <tr>
            <th><label for="{{ form.file.id_for_label }}">파일첨부</label></th>
            <td>{{ form.file }}</td>
          </tr>
        </tbody>
      </table>
      <button type="submit">게시글 작성하기</button>
      <a href="{% url 'post_list' %}">목록으로 돌아가기</a>
    </form>
  </div>
{% endblock %}
